main {
    .about-us .images img {
        height: 6em;
    }

    .contact h2 {
        font-size: 0.7em;
    }

    .go-fund-me {
        padding: 0.8em 3em
    }

    .open-map {
        padding: 0.8em 3em
    }

    .map {
        svg {
            width: 10em;
        }
    }
}
