main {
    section {
        flex-direction: row-reverse;
        justify-content: space-around;

        svg {
            height: 20em;
        }
    }

    .main-section h1 {
        margin: 1em 0;
    }

    .about-us .images img {
        height: auto;
    }

    #volunteer {
        flex-direction: row;
    }

    .inner-wrapper {
        width: 50%;
    }

    .about-us p {
        font-size: 1em;
    }

    .about-us .images {
        margin-bottom: 0;
    }
}
